.nav-navbar{

  color:#80003e;
}
.landingpage {
 background-image: url();
  
  width: 100%;
  height: 100vh;
  background-color:#afeeee;
}
.osint-section h1{
  background-color:#afeeee;
  text-align:center;
  
}

   .dorkincident{
background-color:#80008022;
color:black;
}

  .dorkprevention h1{
   font-family:Georgia,serif;
   background-color:#80008022;
  }
   .OSINT-TEAM{

   background-color:#afeeee;
 }